body {
  background: url(images/cutlery.jpg) center/cover no-repeat fixed;
  color: #532827;
}
#container {
  width: 100%;
  margin: 40px;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0px 10px 15px -8px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
}
#container h1 {
  color: #fff;
  font-size: 3.5rem;
}
#calculator {
  background: url("images/paper-pattern.jpg") center/cover;
}
hr {
  width: 40%;
}
h1 {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-radius: solid 1px #ddd;
}
form input,
form select {
  padding: 8px;
  margin: 20px 0;
}
form label {
  display: block;
}
input[type="text"] {
  width: 90px;
}
button {
  border: none;
  border-bottom: solid 4px #222;
  color: #fff;
  padding: 20px 30px;
  text-transform: uppercase;
  background: #6c2726;
  font-size: 18px;
}
#totalTip{
    font-size: 50px;
    margin-top: 40px;
}
#totalTip:before{
    content:'Tip amount';
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}
#totalTip sup{
    font-size: 24px;
    top:-18px;
}
#totalTip  small{
    font-size: 14px;
    font-weight: bold;
    display:block;
}